@model Kaypic_Web3.Models.Annonce

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Annonce</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.priorite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.priorite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pinned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pinned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equipe.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
